{% extends "base.html" %}

  {% block title %}区服列表{% endblock %}
  {% block css %}
  <style>
    .form-horizontal .form-group{margin-bottom:10px;width:100%;}
    .form-horizontal  .form-control{width:86%;}
    .form-horizontal .control-label{width:75px;}
  </style>

  {% endblock %}

  {% block breadcrunb %}
      <h1>
         Dashboard
        <small>Version 1.0.0</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">游戏管理</li>
        <li class="active">太古神王</li>
        <li class="active">区服列表</li>
      </ol>
  {% endblock %}



{% block content %}

      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <div class="col-md-12">
        <!-- TABLE: LATEST ORDERS -->

        {% include "games/games_server_add_model.html" %}

        <div class="box box-info">


            <div class="box-header with-border">
              <h3 class="box-title">区服列表</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->

            <div class="box-body">

             <div style="margin-bottom: 10px;height: 30px" class="row">

                <a href="#" style="float: left; margin-left: 1%" class="btn btn-sm btn-primary" id = "addbtn">
                    <span class="glyphicon glyphicon-plus"></span> 区服添加
                </a>

{#                <a href="#" style="float: left; margin-left: 1%" class="btn btn-sm btn-primary">#}
{#                    平台 <span class="glyphicon glyphicon-phone"></span>#}
{#                </a>#}
{##}
{#                <a href="#" style="float: left; margin-left: 1%">#}
{#                    <select id='platform' type='text' class='form-control' name='platform'>#}
{#                        <option value=''>请选择平台</option>#}
{#                        <option value='android' selected="selected">安卓混服</option>#}
{#                        <option value='yyb'>安卓硬核</option>#}
{#                        <option value='apple'>iOS</option>#}
{#                    </select>#}
{#                </a>#}

                <form style="float: right;width: 20%;margin-right: 1%">
                <div  class="input-group">
                    <input type="text" class="form-control" name="keyword" placeholder="渠道| 区服名| IP" value="{% if keyword %} {{ keyword }} {% endif %}">
                    <div class="input-group-btn">
                       <button id='search_btn' type="submit" class="btn btn-sm btn-primary">
                           <span class="glyphicon glyphicon-search"></span>搜索
                       </button>
                    </div>
                </div>
                </form>
                <!--
                <a href="#" style="float: right; margin-right: 3%" class="btn btn-sm btn-primary">
                    维护更新 >>  <span class="glyphicon glyphicon-wrench"></span>
                </a>
                -->


             </div>


            <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th class="text-center">游戏ID</th>
                    <th class="text-center">区服名</th>
                    <th class="text-center">内网IP</th>
                    <th class="text-center">DB_IP</th>
                    <th class="text-center">渠道名</th>
                    <th class="text-center">状态</th>
                    <th class="text-center">操作</th>
                    <th class="text-center">开/关服</th>
                </tr>
                </thead>
                <tbody>
                 {% for gs in gslist %}
                   <tr class="gradeX">
                      <td class="text-center">{{ gs.gameid }}</td>
                      <td class="text-center">{{ gs.servername }}</td>
                      <td class="text-center">{{ gs.inner_ip }}</td>
                      <td class="text-center">{{ gs.db_ip }}</td>
                      <td class="text-center">{{ gs.channel }}</td>
{#                      <td class="status">{{ gs.get_status_display }}</td>#}
                      <td class="text-center status">
                        {% if gs.status == 1 %}
                            <span class="glyphicon glyphicon-ok-circle text-info"></span> 运行中
                        {% else %}
                            <span class="glyphicon glyphicon-warning-sign text-danger"></span> 已关闭
                        {% endif %}
                      </td>
                     <td class="text-center">
                        <a href="{% url 'games:games_server_edit' gs.id %}" class="btn btn-xs btn-info update"><span class="glyphicon glyphicon-edit"></span></a>
                        <a class="btn btn-xs btn-danger del" uname="{{ gs.servername }}" data-id="{{ gs.id }}"><span class="glyphicon glyphicon-trash"></span></a>
                       </td>
                      <td class="text-center">
                        {% if gs.status == 1 %}
                            <button type="button" class="btn btn-xs btn-warning glyphicon glyphicon-off modify_game_status" status={{ gs.status  }} data="{{ gs.id }}">关闭</button>
                        {% else %}
                            <button type="button" class="btn btn-xs btn-info glyphicon glyphicon-play modify_game_status " status={{ gs.status }} data="{{ gs.id }}">启动</button>
                        {% endif %}
                       </td>
                   </tr>
                {% endfor %}
                </tbody>
            </table>
            </div><!-- /.table-responsive -->

            <div class="row">
              <div class="col-sm-6">
                <!--
                 <div class="dataTables_info" id="editable_info" role="status" aria-live="polite">
                    显示 [{{ paginator.count }}] 条数据中的 第 [{{ page_obj.start_index}}] 至 [{{ page_obj.end_index }}] 的数据
                 </div>
                -->
                显示第{{ page_obj.start_index}} - {{ page_obj.end_index }} 条数据,总共 {{ paginator.count }} 条数据.
              </div>
              {% include 'paginator.html' %}
            </div><!-- /.paginator -->

            </div>
            <!-- /.box-body -->

        </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->


{% endblock %}

{% block js %}
 /*添加模态窗弹出*/
$("#addbtn").click(function(){
    $("#games_add_modal").modal("show");
});

/*添加用户*/
$("#submit_button").click(function(){
    var formdata = $('#AddForm').serialize()
    console.log(formdata)
    $.post('', formdata, function(res){
        if (res.code == 0) {
			swal("Good!", "区服添加成功", "success")
            window.location.reload();
		/*
            swal({
                "title": "添加成功",
                 "text": res.result,
                 "type": "success"
            }, function () {
                 setTimeout(function () {
                    window.location.reload();
                 }, 50);
             })
		*/
        } else {
            swal("操作失败", res.errmsg, "error");
         }
    })
    return false;
})

/*删除*/
$("tbody").on('click','.del',function(){
   /* if(confirm("是否确认删除？")){ */
        var that = this;
        var id = $(this).attr('data-id')
        var uname = $(this).attr('uname')
        if(confirm("确认删除区服: "+uname+" ?")){
        $.ajax({
            url:"",
            type: "DELETE",
            data: {"id":id},
            datatype: "json",
            success: function(res){
                console.log(res)
                if (res.code ==0){
                    swal("Good!", res.result, "success")
                    window.location.reload();
                }else{
                    swal("操作失败", res.errmsg, "error")
                }
            }
        })

    }  // end confirm
     return false
})

/* 服务启动停止开关（开启/关闭）*/
function change_user_status(status_td_obj, status){
    if (status == "true"){
        status_td_obj.html('<span class="glyphicon glyphicon-warning-sign text-warning"></span>已关闭')
    }else{
        status_td_obj.html('<span class="glyphicon glyphicon-ok-circle text-success"></span>运行中')
    }
}


$(function(){
    $(".modify_game_status").click(function(){
        var click_obj = $(this);
        var uid = click_obj.attr('data');
        var status = click_obj.attr('status');

        $.ajax({
            url: "{% url 'games:game_modify_status' %}",
            type: "POST",
            data: {"uid": uid},
            success: function (res) {
                if (res.status != 0){
                    swal("操作失败", res.errmsg, "error")
                }else{
                    if (status == "true"){
                        click_obj.attr("status", "false").text("启动");
                        click_obj.removeClass("btn-warning glyphicon glyphicon-off").addClass("btn-info glyphicon glyphicon-play");
                    }else{
                        click_obj.attr("status", "true").text("关闭");
                        click_obj.removeClass("btn-info glyphicon glyphicon-play").addClass("btn-warning glyphicon glyphicon-off");

                    }
                }
                status_obj = click_obj.parents('td').siblings('.status');
                change_user_status(status_obj, status)
            },
            /*
            beforeSend: function (xhr, settings) {
                var csrftoken = getCookie('csrftoken');
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
            */
        });
        /*return false*/
    });

})

{% endblock %}
